/**
 * Card (<article>)
 */

article {
    $padding-multi: 0.3;

    margin: var(--block-spacing-vertical) 0;
    padding-top: calc(var(--block-spacing-vertical) * 0.3);
    padding-right: var(--block-spacing-horizontal);
    padding-bottom: calc(var(--block-spacing-vertical) * 0.3);
    padding-left: var(--block-spacing-horizontal);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    box-shadow: var(--card-box-shadow);

    >header,
    >footer {
        margin-right: calc(var(--block-spacing-horizontal) * -1);
        margin-left: calc(var(--block-spacing-horizontal) * -1);
        padding: calc(var(--block-spacing-vertical) * $padding-multi) var(--block-spacing-horizontal);
        background-color: var(--card-sectionning-background-color);
    }

    >header {
        margin-top: calc(var(--block-spacing-vertical) * -0.3);
        margin-bottom: calc(var(--block-spacing-vertical) * $padding-multi);
        border-bottom: var(--border-width) solid var(--card-border-color);
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
    }

    >footer {
        margin-top: calc(var(--block-spacing-vertical) * $padding-multi);
        margin-bottom: calc(var(--block-spacing-vertical) * -0.3);
        border-top: var(--border-width) solid var(--card-border-color);
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
}